In [2]:
import tweepy

consumer_key = ' '
consumer_secret = ' '
access_token = ''
access_secret = ' '

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)



# tweet = twitter.show_status(id='id_of_tweet')
# print(tweet['text'])

In [64]:
user = "dog_rates"
results = api.user_timeline(screen_name = user)

In [184]:
import pandas as pd
#tweets_df = pd.read_csv('/Users/Akk/Downloads/twitter-archive-enhanced.csv')
tweets_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [187]:
tota_ids= tweets_df.tweet_id.count()
print tota_ids

2356

In [191]:
tweet_id_list=[]
for i in range(1,tota_ids):
    tweet_id_list.append(tweets_df.tweet_id[i])
    
len(tweet_id_list)

2355

In [447]:
def chunks(l, n):
    n = max(1, n)
    return (l[i:i+n] for i in xrange(0, len(l), n))


# result_list = chunks(tweet_id_list,100)

# for i in result_list:
#     print len(i)

In [431]:
# store tweets data into the txt file

tweet_counter=0
chunk_list = chunks(tweet_id_list,100)

with open('tweet_json.txt', 'w') as f:
    for small_list in chunk_list:
        tweets_list = api.statuses_lookup(id_=small_list, include_entities=False, trim_user=True)
        for i in range(0,len(tweets_list)):
                status_dict = tweets_list[i]._json
                f.write(json.dumps(status_dict)+"\n")

#                 tweet_counter +=1
#                 if tweet_counter %50==0:
#                     print tweet_counter

f.close()

In [443]:
import json
# read this .txt file line by line into a pandas DataFrame 


new_dict_list=[]
with open('tweet_json.txt') as data_file:  
    for line in data_file:
        tweet_data = json.loads(line)
        #print 't:',tweet_data
        new_dict_list.append({"tweet_id": tweet_data["id"],"retweet_count":tweet_data['retweet_count'],"favorite_count":tweet_data['favorite_count']})
    
#     print new_dict_list

In [448]:
API_tweet_df = pd.DataFrame(new_dict_list)

# pd.DataFrame(d)
# df1 = df1.append(new_dict_list)
API_tweet_df.head(5)
len(API_tweet_df)

2350

In [450]:
API_tweet_df.tail()

      favorite_count  retweet_count            tweet_id
2345             161             72  666099513787052032
2346             108             36  666268910803644416
2347             799            588  666362758909284353
2348             222             82  666835007768551424
2349           14658           6808  666104133288665088

In [454]:
API_tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2350 entries, 0 to 2349
Data columns (total 3 columns):
favorite_count    2350 non-null int64
retweet_count     2350 non-null int64
tweet_id          2350 non-null int64
dtypes: int64(3)
memory usage: 55.1 KB

In [458]:
API_tweet_df.fillna(0, inplace=True)

In [460]:
API_tweet_df.describe()

       favorite_count  retweet_count      tweet_id
count     2350.000000    2350.000000  2.350000e+03
mean      8092.120000    3124.568936  7.425022e+17
std      11963.723519    5231.587337  6.841030e+16
min          0.000000       0.000000  6.660209e+17
25%       1417.500000     617.000000  6.783910e+17
50%       3589.500000    1449.500000  7.193360e+17
75%      10083.000000    3616.750000  7.989319e+17
max     132027.000000   78914.000000  8.921774e+17

In [462]:
API_tweet_df.to_csv('API_tweets.csv')